* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.title {
padding-bottom: 500px;
display: flex;
justify-content: center;
color: white;
position: absolute;
z-index: -1;
}

.time-select, 
.sound-picker,
.player-container {
 height: 80%;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

.player-container {
    position: relative;
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}

video {
    position: fixed; 
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
}

.play-button {
   border-radius: 50%;
   padding: 100px;
}

.play-button:hover {
    background: rgba(45, 138, 177, 0.3);
}

.time-select button,
.sound-picker button {
color: white;
width: 30%;
height: 10%;
background: none;
border: 2px solid white;
cursor: pointer;
border-radius: 5px;
font-size: 20px;
transition: all 05.s ease;
}

.time-select button:hover {
    color: black;
    background: white;
}

.sound-picker button {
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;	
}

.sound-picker button:hover {
border: white solid;
}

.sound-picker button:nth-child(1) {
background: #daae3f;
}

.sound-picker button:nth-child(2) {
    background: #476f7e;
    }

.sound-picker button img {
        height: 100%;
    }